:root {
    --swiper-theme-color: #ed6c02;
}
h1, h2, h3, h4, h5, h6, .MuiTypography-subtitle1 {
    font-family: 'Oswald', sans-serif !important;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.MuiTypography-subtitle1 {
    -webkit-line-clamp: 2;
}

img {
    display: block;
    object-position: top;
}

img.css-rhsghg {
    max-height: 207px;
}

a {
    text-decoration: none !important;
}

.sliderImg {
    height: 400px;
}